
.conteudo__metricas {
    display: flex;
    align-items: flex-start;
    gap: 0 5em;
    padding: 0 6em 6em;
}

.container__metricas{
    width: 23%;
}

.metricas__titulo {
    font-size: 3rem;
    font-weight: 600;
    color: var(--cor-botao);
    line-height: 2em;
    letter-spacing: -0.02em;
}

.metricas__subtitulo {
    font-size: 1.12rem;
    color: var(--cor-destaque);
    font-weight: 600;
    line-height: 1.5em;
}

.metricas__texto {
    color: var(--cor-texto);
    line-height: 1.5em;
}